<!-- DATASET -->
<launch>
    <!-- VI-SLAM main thread-->
    <node pkg="vi_slam" type="vi_slam" name="main"  
        args="-gtFile=/home/lujano/Documents/V1_02_medium/mav0/state_groundtruth_estimate0/data.csv 
              -imuFile=/home/lujano/Documents/V1_02_medium/mav0/imu0/data.csv 
              -imagesPath=/home/lujano/Documents/V1_02_medium/mav0/cam0/data/
              -calibrationFile=/home/lujano/catkin_ws/src/vi-slam/calibration/calibrationEUROC.xml
              -outputFile=/home/lujano/Documents/ouput.txt"
        clear_params="true" 
        output="screen"/>
        
    <!-- Rviz visualize
    <node pkg="rviz" type="rviz" name="rviz"/>-->

    <!-- rqt_plot visualizer
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>-->
        
    <node name="ImuFilter" pkg="imu_complementary_filter" type="complementary_filter_node"
         args="_use_mag:=false 
         _gain_acc:=0.01 _gain_mag:=0.01  _do_bias_estimation:=true
         _do_adaptive_gain:= true _publish_debug_topics:=true _constant_dt:=0.005"
    />
</launch>

