<!-- DATASET -->
<launch>
    <!-- VI-SLAM main thread-->
    <node pkg="vi_slam" type="vi_slam" name="main"  
        args="-filePath=/home/lujano/Documents/EuroDataset/state_groundtruth_estimate0/data.csv 
              -imagePath=/home/lujano/Documents/EuroDataset/cam0/data/"
        clear_params="true" 
        output="screen"/>
        
    <!-- Rviz visualizer-->
    <node pkg="rviz" type="rviz" name="rviz"/>

    <!-- rqt_plot visualizer-->
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
        
</launch>

