<!-- DATASET -->
<launch>
    <!-- VI-SLAM main thread-->
    <node pkg="vi_slam" type="vi_slam" name="main"  
        args="-filePath=/home/mecatronica/Documents/mav0/state_groundtruth_estimate0/data.csv 
              -imagePath=/home/mecatronica/Documents/mav0/cam0/data/"
        clear_params="true" 
        output="screen"/>
        
    <!-- Rviz visualize-->
    <node pkg="rviz" type="rviz" name="rviz"/>r

    <!-- rqt_plot visualizer
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>-->
        
</launch>

